.title
  == #{l(@r.user)} / #{l(@r)}

.rlinks
  %ul
    %li Source
    %li= link_to("Commits","#{@r.path}/commits/#{@branch}")

- if @branch
  %p== Viewing branch #{@branch}

.branches
  %h2 Branches
  %ul
    - for b in @grit.heads
      %li= link_to(b.name,"#{@r.path}/#{b.name}#{@path}")

