.title{:class => @contentclass || ""}
  %h1== #{l(@r.user)} / #{l(@r)}
  - if @r.forked?
    == forked from #{link_to("#{@r.fork.user}/#{@r.fork}",@r.fork)}

- if @branch
.rlinks
  %p= link_to("View commits","#{@r.path}/commits/#{@branch}")
  %p== Viewing #{@branch} branch

- if @grit.heads.size > 1
  .branches
    %h2 Available Branches
    %ul
      - for b in @grit.heads
        %li= link_to(b.name,"#{@r.path}/#{b.name}#{@path}")

