%h2.path
  - paths = path.split('/') 
  - last = paths.pop || ""
  = link_to(@r,"#{@r.path}/#{@branch}")
  - for p in paths
    - if p != ""
      = "/"
      = link_to(p,"#{@r.path}/#{@branch}/#{p}")
  - if last != ""
    = "/" + last
  == (#{@branch})

