%html
  %head
    %title Gitaway
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "app"
    -# javascript_include_tag :defaults
    = csrf_meta_tag


  %body
    #titlebar
      %h1 GitAway - Your personal hub for git
    #content{:class => @contentclass || "content"}
      - if current_user
        .logininfo== You are logged in as #{l current_user} (UserID: #{current_user.id})
      =yield
